
<div class="panel panel-default">
  <div class="panel-body">
		<form role="form" name="formAnimatedTours">						
			<div class="col-xs-12">
				<div class="form-group heritageInput">
					<label>Enter how many backgrounds there would be</label>
					<input type="number" class="form-control" ng-model="amountScenes" min="2" step="1" 
					ng-change="updateScenesToUse()">
				</div>
			</div>

			<div id="listScenes" class="col-xs-12">
				<div ng-repeat="itemScenes in scenes track by $index">
					<div class="form-group heritageInput">
						<label>Scene {{ $index + 1 }}</label>
						<input type="text" class="form-control" ng-model="scenes[$index].url" placeholder="url image"/>
						<img ng-src="{{scenes[$index].url}}"  class="img-thumbnail" style="height:50px;" 
						ng-show="wizard.animatedGameFormData.scenes[$index].url!=''">
					</div>
				</div>		
			</div>	
			
		</form>
	</div>
</div>

<div class="panel panel-default">
	<div class="panel-body">
 		<h3 class="missionWizard-title">Assign station to clickable areas</h3>
		<tours-creator scenes="scenes">
		</tours-creator>	
	</div>
</div>
<div class="panel panel-default">
	<div class="panel-body">
		<div>
 			<h3 class="missionWizard-title">Object Generated</h3>
 			<button type="button" class="btn btn-default" ng-click="showJson();">UpdateJson</button>
 			<a href="#/view2" class="btn btn-default " role="button">Here a final example using a smiliar json</a>
		</div>
		{{ finalObject }}
	</div>
</div>



