<div class="row">
	<div class="col-xs-12 text-center">
		<h1>
			Tour image creator
		</h1>				
	</div>
</div>

<div class="panel panel-default" ng-if="steps.step1.show">
  <div class="panel-body">

		<div class="col-xs-12">
			<div class="form-group">
				<h3>Step 1 - Select your images</h3>
			</div>
		</div>
	
		<div class="col-xs-12">
			<div class="form-group">
				<input id="imagesTour" type="file" class="form-control" onchange="angular.element(this).scope().processFiles();" 
				accept=".jpg, .jpeg, .png" multiple/>
			</div>
		</div>

		<div class="col-xs-12">
			<div class="form-group">
				<a type="button" class="btn btn-default" ng-click="goToStep(2);">Next</a>
			</div>
		</div>

		<div id="msgLoadingImages"></div>
		<div class="imagePreviewContainer col-xs-12"></div>

		<!-- <div class="col-xs-12">
			<div class="form-group heritageInput">
				<label>Enter how many backgrounds there would be</label>
				<input type="number" class="form-control" ng-model="amountScenes" min="2" step="1" 
				ng-change="updateScenesToUse()">
			</div>
		</div>

		<div id="listScenes" class="col-xs-12">
			<div ng-repeat="itemScenes in scenes track by $index">
				<div class="form-group heritageInput">
					<label>Scene {{ $index + 1 }}</label>
					<input type="text" class="form-control" ng-model="scenes[$index].url" placeholder="url image"/>
					<img ng-src="{{scenes[$index].url}}"  class="img-thumbnail" style="height:50px;" 
					ng-show="wizard.animatedGameFormData.scenes[$index].url!=''">
				</div>
			</div>		
		</div> -->

	</div>
</div>


<div class="panel panel-default" ng-if="steps.step2.show">
	<div class="panel-body">
		
		<div class="col-xs-12">
			<div class="form-group">
				<a type="button" class="btn btn-default" ng-click="goToStep(1);">Back Step 1</a>
				<a type="button" class="btn btn-default" ng-click="goToStep(3);">Next Step 3</a>
			</div>
		</div>

 		<h3 class="missionWizard-title">Assign station to clickable areas</h3>
		<tours-creator scenes="scenes">
		</tours-creator>	
	</div>
	
</div>

<div class="panel panel-default" ng-if="steps.step3.show">	

	<div class="panel-body">
		<div class="col-xs-12">
			<div class="form-group">
				<a type="button" class="btn btn-default" ng-click="goToStep(2);">Back Step 2</a>
			</div>		
		</div>

		<div> 			
 			<button type="button" class="btn btn-default" ng-click="serialize();">
				Generate tour Data
			</button>
		</div>

		<textarea name="" id="" cols="30" rows="10" ng-model="finalObject"></textarea>
		
	</div>
</div>



