

<div id="toursCreator">
	<div class="toursCreator-panel toursCreator-panel-1">
	
		<form id="formAddHotspots" role="form" name="formTypeArea">

			<div class="row">
				<div class="col-xs-12">				

					<div class="input-group">
						<select class="form-control" name="typeArea" ng-model="typeAreaSelected">
							<option value="" disabled selected>Select Hotspot</option>
							<option value="anchor">Anchor</option>
							<option value="action">Action</option>
						</select>
						<span class="input-group-btn">
							<button type="button" class="btn btn-default heritageButton" ng-click="addHotspot()">
								<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
							</button>
						</span>
					</div>
				</div>				
			</div>

		</form>

		
		<accordion close-others="oneAtATime" class="toursCreator-listHotspots">

			<accordion-group is-open="hotspot.open" ng-repeat="hotspot in currentScene.hotspots" class="toursCreator-listHotspots-{{hotspot.type}}">
				<accordion-heading>
					{{ $index + 1 }} - {{ hotspot.type }}
					<i class="pull-right glyphicon" 
					ng-class="{'glyphicon-chevron-down': hotspot.open, 'glyphicon-chevron-right': !hotspot.open}"></i>
				</accordion-heading>
				<div>

					<div class="text-center">
						<label>
							Id:
						</label>
						{{ hotspot.id }}
					</div>

					<div class="row" ng-show="hotspot.type=='anchor'">
						<div class="col-xs-6" >								
							<select class="form-control" name="scene" ng-model="hotspot.targetAnchor" 
							ng-options="h.name for h in scenes" >
							</select>
						</div>
						<div class="col-xs-6">	
							<img ng-src="{{hotspot.targetAnchor.url}}" class="img-responsive img-thumbnail">
						</div>
					</div>

					<div style="margin-top: 10px;">
						<button type="button" class="btn btn-danger btn-sm btn-block" ng-click="removeHotspot($index)">
							<span class="glyphicon glyphicon-trash"></span> Remove
						</button>
					</div>

				</div>		 
			</accordion-group>
			
		</accordion>

		<!-- <ul class="list-unstyled" id="toursCreator-listHotspots">
	  		<li ng-repeat="hotspot in currentScene.hotspots" class="toursCreator-listHotspots-{{hotspot.type}}">
		  		<div class="toursCreator-listHotspots-sections toursCreator-listHotspots-name">
		  			{{ $index + 1 }}
		  			<button type="button" class="btn btn-default btn-sm" ng-click="removeHotspot($index)">
					  <span class="glyphicon glyphicon-trash"></span>
					</button>					
		  		</div>
		  		<div class="toursCreator-listHotspots-sections toursCreator-listHotspots-select" ng-show="hotspot.type=='anchor'">
		  			<select class="form-control" name="scene" ng-model="hotspot.targetAnchor" 
		  			ng-options="h.name for h in scenes" >
		  			</select>
		  		</div>
		  		<div class="toursCreator-listHotspots-sections toursCreator-listHotspots-preview" ng-show="hotspot.type=='anchor'">
		  			<img ng-src="{{hotspot.targetAnchor.url}}" alt="" ng-show="hotspot.type=='anchor'">
		  			<img ng-src="{{hotspot.targetStation.image}}" alt="" ng-show="hotspot.type=='action'">
		  		</div>
	  		</li>
		</ul> -->
		
	</div>
	<div class="toursCreator-panel toursCreator-panel-2">
		
		<div class="toursCreator-selectScenes form-group">
			
			<form role="form" name="formChangeScenes">				
				<label>Select Scenes</label>
				<select class="form-control" name="scene" ng-model="currentScene" ng-options="h.name for h in scenes" ng-change="loadScene()"></select>				
			</form>

		</div>
		
		<div class="toursCreator-containerArrange">

			<div class="toursCreator-arrange">
				
				<img class="toursCreator-image" src="" alt="Image" />
				
				<div ng-repeat="hotspot in currentScene.hotspots" class="toursCreator-hotspot ui-widget-content toursCreator-hotspot-{{ hotspot.type }}" 
				ng-style="hotspot.position" data-id="{{ hotspot.id }}" ng-init="setUpHotspot(hotspot);">	

					<!-- <div class="toursCreator-hotspot-inner"></div> -->
					<span class="tours-index">{{ $index + 1 }}</span>
					<div class="hot-spot js-hotspot" ng-click="clickOnHotspot(hotspot,$index);"></div>
				</div>
	
				<img id="loadingScene" src="img/ajax-loader.gif"  ng-show="loadingScene">
			</div>
		</div>		
	</div>

</div>